<!-- app1/templates/app1/access_denied.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="icon" href="{% static 'images/logo.png'%}">
    <title>Access Denied</title>
    <style>
        body {
            padding:0;
            margin:0;
            background-color: #f8f9fa;
        }
.container{
          display:grid;
      
          align-items: center;
          justify-content: center;
          height:100vh;
           
}
        .errormessage {
            color: red;
            font-size: 24px;
       
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="errormessage">
            <h1> Access Denied</h1>
            <pre>          -kushal</pre>
         </div>
    </div>
    
</body>
</html>
